
Catalog.xcodeproj/project.xcworkspace/xcuserdata/sdt5.xcuserdatad/UserInterfaceState.xcuserstate

Catalog.xcworkspace/contents.xcworkspacedata

Podfile.lock

Catalog.xcworkspace/xcuserdata/sdt5.xcuserdatad/UserInterfaceState.xcuserstate

Podfile

*.lock

*.xcuserstate
